<footer class="text-light footer pb-4">
  <div class="footer-container container px-5 d-flex justify-content-between align-items-center">
    <div class="text-center">
      <a href="/">
        <%= image_tag "logo.png" %>
      </a>
    </div>
    <div class="mt-4 d-flex flex-column justify-content-start">
      <p><i class="fas fa-home me-3"></i> New Delhi, IN</p>
      <p><i class="fas fa-envelope me-3"></i> apphelpmg@gmail.com</p>
      <p><i class="fas fa-phone me-3"></i> +91 9999999999</p>
      <p><i class="fas fa-print me-3"></i> +91 9999999999</p>
    </div>
  </div>
  <hr>
   <div class="text-center mt-4">
      <p class="mb-0">© 2019 - 2024 Copyright:</p>
      <a class="text-reset fw-bold" href="https://www.cricpanda.in">CricPanda.in</a>
    </div>
</footer>
