<div class="main-content">
  <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-4">Listing Game Rewards</h1>
  </div>
  <div>
    <%= render "game_reward" %>
  </div>
</div>
