 <div class="main-content container">
    <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <div class="d-lg-flex justify-content-start align-items-center gap-3">
      <%= link_to "Back", admin_campaign_infos_path,class:"btn btn-dark fw-medium" %>
      <h1 class="edit-heading">Editing Campaign Info</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <%= render "form" %>
    </div>
</div>
