<div class="sidebar">
  <div class="items">
   <a href="/admin/app_offers/" target="_parent"> <div class="list-item">
     <i class="fa-solid fa-gear"></i> App Offers
   </div></a>
  <a href="/admin/app_banners/"><div class="list-item">
    <i class="fa-solid fa-gear"></i> App Banners
  </div></a>
 <a href="/admin/game_awards/"> <div class="list-item">
   <i class="fa-solid fa-star"></i> Game Awards
 </div></a>
   <a href="/admin/game_rewards/"> <div class="list-item">
     <i class="fa-solid fa-gamepad"></i> Player List
   </div></a>
  <a href="/admin/articles/">  <div class="list-item">
    <i class="fa-solid fa-bars"></i> Articles
  </div></a>
    <a href="/admin/campaign_infos/" target="_parent"> <div class="list-item">
      <i class="fa-solid fa-comments"></i> Compaign Info
    </div></a>
   <a href="/admin/postbacks"> <div class="list-item">
     <i class="fa-solid fa-ticket"></i> Post Back
   </div></a>
   <a href="/admin/affiliates/" target="_parent"> <div class="list-item">
     <i class="fa-solid fa-list"></i> List Affiliates
   </div></a>
   <a href="/admin/referrers/" target="_parent"> <div class="list-item">
     <i class="fa-solid fa-list"></i> List Referrers
   </div></a>
    <a href="/admin/app_redeems/"><div class="list-item">
      <i class="fa-solid fa-list"></i> List Redeems
    </div></a>
  <a>  <div class="list-item">
    <i class="fa-solid fa-question"></i> Quiz Users
  </div></a>
  <a>  <div class="list-item">
    <i class="fa-brands fa-whatsapp"></i> Send WhatsApp
  </div></a>
   <a> <div class="list-item">
     <i class="fa-regular fa-square-check"></i> Send Paytm
   </div></a>
  </div>
</div>