 <div class="main-content">
    <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mb-4">Listing Campaign Info</h1>
      <%= link_to "New campaign info", new_campaign_info_path ,class:"btn btn-success mb-4"%>
    </div>
    <div>
        <%= render "campaign_info" %>
    </div>
  </div>
